$base-text-color: #282828;
$base-background-color: #fff;
$base-link-color: #868686;
$base-link-hover-color: #0071ce;
$base-form-text-color: #2a2a2a;
$base-form-placeholder-color: #2a2a2a;
$base-input-border-color: #ebebeb;

$base-font-size: 14px;
$base-line-height: 1.71;
$base-font-family: Arial, Helvetica, sans-serif;

$base-min-width: 320px;